* {
    margin: 0px;
    padding: 0px;
    color: white;

    /* border: black solid 1px; */
}

body {
    background-image: url("../img/splashscreen_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    height: 100vh;
    width: 100%;
}

#start_button {
    width: 100%;
    text-align: center;
    margin-top: 1%;    
    order: 1; 
    flex: 0.7;   
}

#start_button > a {
    background-color: rgb(17, 105, 163);
    border: solid white 2px;
    font-size: 2em;
    text-align: center;
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(244, 248, 250);
    border-radius: 10px;
    text-decoration: none;
}

#start_button > a:hover {
    background-color: white;
    cursor: pointer;
    color: #555;
}

#main_text {
    flex: 1;
    order: 2;
    width: 60%;

    font-size: 1.25em;
    margin-bottom: 1%;
}

#video {
    order: 3;
    flex: 7;
}

#autors {
    flex: 1;
    order: 4;
    margin-top: 1%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(58, 56, 56);
    padding: 0.5%;

    text-align: center;
    color: rgb(184, 179, 179);
}




